/* Put your custom CSS here */

.left {
    margin-left: 0px;
}

.output_png img, p img {
    max-width: 100%;
}
.c-textbook {
    max-width: 1550px;
    margin-left: 7%;
}
.aside.sidebar__right {
    transform: translateX(583px);
}
.o-wrapper {
    max-width: 900px;
}
