/* Put your custom CSS here */

.left {
    margin-left: 0px;
}

.output_png {
    max-width: 100%;
}
.c-textbook {
    max-width: 1550px;
    margin-left: 10%;
}
.sidebar-right {
    transform: translateX(554px);
}
