/* Put your custom CSS here */
.output_png img, p img {
    max-width: 100%;
    width: auto !important;
}
.js-textbook {
    max-width: 1550px;
    margin-left: 7%;
}
@media (min-width: 81.25em)
.sidebar__right {
    left: 50%;
    transform: translateX(452px);
}
.o-wrapper {
    max-width: 900px;
}
